<nav class="navbar navbar-expand-lg">
    <div class="container">
        {% if is_granted('ROLE_ADMIN') %}
        <a class="navbar-brand" href="{{ path('app_home') }}">API-Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('plate_list') }}">Kennzeichen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('episode_list') }}">Episoden</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('car_list') }}">Messungen</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        API Endpoints
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('plate_api') }}">Kennzeichen</a></li>
                        <li><a class="dropdown-item" href="{{ path('episode_api') }}">Episoden</a></li>
                        <li><a class="dropdown-item" href="{{ path('car_api') }}">Messungen</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
                <a class="navbar-brand" href="{{ path('app_home') }}">Halle77API</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            {% endif %}
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.email }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('user_edit', {'id': app.user.id}) }}">Profil</a></li>
                                <li><hr /></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Abmelden</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>