{% extends 'base.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% block body %}
<div class="d-flex flex-md-row flex-sm-column align-items-center justify-content-centerr" style="height: 80vh">

    <div class="box p-2 rounded-2 bg-opacity-50 shadow-lg w-50 mx-auto">

        <h1>Registrieren</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Passwort'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-light">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
