{% extends 'base.html.twig' %}

{% block title %}Episode Admin{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Episoden Liste</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Nr.</th>
                <th>Titel</th>
                <th>URL</th>
                <th>Vorschaubild</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>
                    <div class="d-flex justify-content-between">
                        Aktion
                        <div class="btn-group-sm">
                            <a href="{{ path('episode_add') }}" class="btn btn-sm btn-light">Hinzufügen</a>
                        </div>
                    </div>
                </th>
                {%  endif %}
            </tr>
            </thead>
            <tbody>
            {% for episode in episodes %}
                <tr>
                    <td>{{ episode.episodeNr }}</td>
                    <td>{{ episode.title }}</td>
                    <td>{{ episode.episodeUrl }}</td>
                    <td>{{ episode.thumbnailUrl }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <div class="btn-group-sm">
                            <a href="{{ path('episode_edit', {'id': episode.id}) }}" class="btn btn-sm btn-warning">Bearbeiten</a>
                            <a href="{{ path('episode_delete', {'id': episode.id}) }}" class="btn btn-sm btn-danger">Löschen</a>
                        </div>
                    </td>
                    {%  endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
